@import './base.css';
@import '@/assets/variables.scss';

body{
  background-color:rgb(250, 250, 250);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h3{
  color:#2c3e50;
}

.gradient {
  background-image: linear-gradient(66deg,#ff2aa1,#ff8426);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.button-wrapper{
  button + button {
    margin-left: 10px;
  }
}

.participants{
  .secondary{
    opacity:0.3
  }

  svg{
    color:#2c3e50;
    cursor:pointer;
    transition: all 250ms ease-in-out;
    &:hover{
      scale:120%;
    }
  }
}

.price{
  .primary{
    color:$brand-secondary;
  }
  .secondary{
    opacity:0.3
  }

  svg{
    color:#2c3e50;
    cursor:pointer;
    transition: all 250ms ease-in-out;
    &:hover{
      scale:120%;
    }
  }
}

a.link{
  p{
    transition:color 120ms linear;
    &:hover{
      font-weight:600;
      color:$brand-primary;
    }
  }
  color:$brand-primary;
}

.space,[space=""]{padding-top:0.5rem;padding-bottom:0.5rem;}

.animate {
  animation-duration: 0.3s;
  animation-delay: 0;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  animation-fill-mode: backwards;
}

.animate.pop {
  animation-name: animate-pop;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
